# Prerequisites
*.d

# old text editor files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so*
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj.user
*.bsc
*.pdb
.vs
obj
*.exp

# CLion
.gitignore
.idea
cmake-build-debug
cmake-build-release
#CMakeLists.txt
.dropbox.attr

# VSCode
.vscode
.clang-format

# Private folders
Win64/.vs/
Win64/obj/
Win64/lib/debug/
Win64/bin/
Win64/proj/element/
